[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
transformers = "*"
peft = "*"
bitsandbytes = "*"
accelerate = "*"
dotenv = "*"
fastapi = "*"
fasttext = "*"
pydantic = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
