[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
datasets = "*"
transformers = "*"
peft = "*"
bitsandbytes = "*"
accelerate = "*"
pydantic = "*"
fasttext = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
